{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue sur mon site</h1>
</div>

  <h1>Ajouter une robe</h1>

  {{ form_start(form) }}
  {{ form_rest(form) }}
  </div>
  <button>Ajouter</button>
  {{ form_end(form) }}


{% endblock %}


